@media screen and (max-width: 1024px) { 
 
}

@media screen and (max-width: 991px) { 

	
}
@media screen and (max-width: 767px) { 
	 

}

@media screen and (max-width: 480px) { 
	
	
}
 

@media screen and (min-width: 1024px) { 
	
}
@media screen and (min-width : 768px)  and (max-width : 1024px) {
	 
}
@media only screen   and (max-width: 1200px) { 
	 
    #ims {
            margin: -23px;
            padding: 35px;
            max-width: 140%;
        }
}
@media only screen   and (min-width: 1900px) { 

 
}